<div class="nav-container" [class.is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>Thales test</h1>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" opened>
      <app-users-list [users]="users$ | async" (searched)="onSearched($event)"></app-users-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container-fluid pt-3">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>