<ng-container *ngIf="user$ | async as user; else noUser">

  <div class="d-flex justify-content-start align-items-end user-profile">
    <img [src]="user.picture.large" alt="profile">
    <h1>{{ user.name.first }} {{ user.name.last }}</h1>
  </div>

  <mat-tab-group>
    <mat-tab label="Modifier">
      <app-user-form [user]="user" (userUpdated)="onUserUpdated($event)"></app-user-form>
    </mat-tab>
    <mat-tab label="Carte">
      <app-user-map [user]="user"></app-user-map>
    </mat-tab>
  </mat-tab-group>

</ng-container>
<ng-template #noUser>
  <p>Séléctionnez un utilisateur</p>
</ng-template>
