html, body {
  height: 100%; 
}

body {
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pointer{
  cursor: pointer;
}

@media (max-width: 600px) { 

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.5em 0; 
   }

   h1{
     font-size: 25px;
   }
 }